.contact-container {
    background: var(--darkgrey);
    display: grid;
    height: 90vh;
    grid-template-columns: 1.5fr 1fr;
    font-size: 20px;
    margin: 60px auto;
    max-width: 1400px;
}
h2 {
    text-align: center;
    margin-bottom: 15px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

input {
    border-radius: 5px;
    height: 40px;
    margin: 5px 0;
}
.success {
    text-align: left;
    margin-top: 20px;
    transition: 1s ease-in;
    font-size: 24px;
}
textarea {
    margin: 5px 0;
    height: 80px;
    resize: none;
}

.icon-container {
    align-self: center;
    margin-bottom: 100px;
    margin-right: 100px;
}

a {
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
}

.github {
    color: #fff;
    
}

.linkedin {
    color: #0A66C2;
    margin-left: 20px;
}

.submit {
    background-color: rgb(70, 177, 70);
    width: 30%;
    cursor: pointer;
    margin-top: 15px;
    color: var(--white);
    border: none;
    font-size: 16px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media  screen and (max-width: 750px) {
    .contact-container {
        background: var(--darkgrey);
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .icon-container {
        margin: -10px auto 50px;
    }

    .submit {
        width: 100%;
    }

    h2 {
        width: 80vw;
        margin: 0 auto;
        font-size: 24px;
        margin-bottom: 30px;
    }

    .icons {
        margin-top: -30px;
        height: unset;
    }

    .form {
        width: 70%;
    }
}
