.contact-container {
    background: var(--darkgrey);
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 15px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

input {
    border-radius: 5px;
    height: 40px;
    margin: 5px 0;
}
.success {
    text-align: left;
    margin-top: 20px;
    transition: 1s ease-in;
    font-size: 24px;
}
textarea {
    margin: 5px 0;
    height: 80px;
    resize: none;
}

.icon-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-right: 40px;
}

a {
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
}

.github {
    color: #fff;
    
}

.linkedin {
    color: #0A66C2;
    margin-left: 20px;
}

input[type='submit'] {
    background-color: rgb(70, 177, 70);
    width: 30%;
    cursor: pointer;
    margin-top: 15px;
    color: var(--white);
    border: none;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media  screen and (max-width: 750px) {
    .contact-container {
        background: var(--darkgrey);
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .icon-container {
        margin-top: -40px;
    }

    input[type='submit'] {
        width: 100%;
    }
}
