.hero {
    width: 100%;
    background: var(--darkgrey);
}


.project-container {
    /* margin-top: 40px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: rgb(191, 53, 53);
    height: 100vh;
    width: 75vw;
    margin: 30px auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}




@media screen and (max-width:750px) {
    .hero {
        height: auto;
        width: 100%;
    }

    .project-container {
        grid-template-columns: 1fr;
    }
}




