.cards {
    background: var(--darkgrey);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: rgb(191, 53, 53);
    width: 80vw;
    margin: 50px auto 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
    max-width: 1800px;
}




@media screen and (max-width:750px) {

    .cards {
        grid-template-columns: 1fr;
        width: 100vw;
    }
}




