.hero {
    width: 100%;
    height: 100vh;
    background: var(--darkgrey);
}

.footer {
    position: fixed;
    bottom: 7px;
    left: 7px;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(230, 0, 0);
    height: 200px;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}


@media screen and (max-width:940px) {
    .hero {
        height: auto;
        width: 100%;
    }
}




