.project-card {
    border: 1px solid var(--lightgrey);
    border-radius: 20px;
    margin: 10px; 
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.name {
    font-size: 20px;
    color: var(--lightgrey);
    font-weight: 700;
}

.desc {
    font-size: 14px;
    color: var(--lightgrey)
}

img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 0 auto;
}

.p-link {
    text-decoration: underline;
}

.guest {
    color: rgb(0, 233, 124);
    font-size: .8rem;
}

.guestD {
    font-size: .8rem;
    color: var(--lightgrey);
    padding: 0 3px;
}

.guestP {
    font-size: .8rem;
    color: var(--lightgrey);
    padding: 0 3px;
}

.login-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    font-size: .8em;
    line-height: 1.3em;
}