.project-card {
    background: rgb(80, 80, 80);
    border-radius: 10px;
    margin: 10px; 
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 8px 16px rgba(0,0,0,0.07);
}

.name {
    font-size: 25px;
    color: var(--lightblue);
    font-weight: 700;
}

.desc {
    font-size: 18px;
    text-align: left;
    margin: 0px 20px;
    color: var(--lightgrey);
}

img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.p-link {
    text-decoration: underline;
    font-size: 22px;
    color: var(--lightblue);
    align-self: center;
    padding-left: 80px;
}

.guest {
    color: rgb(0, 233, 124);  
    font-weight: bold;
    letter-spacing: .05rem;
}

.guestD {
    color: var(--lightgrey);
    padding: 0 3px;
}

.guestP {
    color: var(--lightgrey);
    padding: 0 3px;
}

.login-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    justify-content: space-evenly;
    font-size: 1em;
    line-height: 1.3em;
}

.guest-container {
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .img-container {
        display: flex;
        justify-content: center;
    }

    .p-link {
        margin-right: 40px;
    }

    img {
        margin-left: 40px;
    }

    .guest-container {
        font-size: 14px;
    }
}